body{
     font-size: 1rem;
     line-height: 1.5;
     overflow-x: hidden; 
     /*OVERFLOW X - PARA OCULTAR LA BARRA ESPACIADORA - ABAJO*/  
}

header{
  border: 1px solid black;
  width: 100%;
  margin:  auto;
  position: fixed;
  background: #303952;
  top: 0;
  z-index: 80;
  transition: ease-in-out 0.6s ;
  
}

/*navegacion*/

nav{
  
  font-size: 20px;
  display: flex; 
  justify-content: space-between;
  align-items:center ;
  padding: 10px ;
  height: 50px;
  width: 82%;
  
}

nav .logo {
  width: 45px;
   padding-left: 20% ; 
}

header .nav-menu{
  justify-content: right;
}


li .items-nav{
  color: #000;
  text-decoration:dotted;
  list-style: none;
  padding: 10px;

}

/*ESTILIZANDO NAV*/

nav > ul{  
  display: flex;
  
}

nav ul.nav-menu{
  flex: 1;
  margin-left: 2% ;

}

/*HOVER NAV */



nav li{
  display: inline;
  margin: 0 0 0 15px ;
  padding: 5px 5px;
  background-color: rgb(146, 146, 146);
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;    
}

nav a{
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 18px ;
  text-decoration: none;

}

nav a:hover{
  color: #fff;
  text-decoration: underline;

}

nav li:hover{
  background: #ee2b2b;
  transform: scale(1.1);
}



/* VIDEO BACK*/

.container-uno{
  border: 1px solid black;
  display: flex;
  height: 80vh;
  align-items: center;
  

}

.content{
  max-width: 70rem;
  padding-left:1rem;
  padding-right:1rem;
  border: 3px solid orange;
  margin: auto;
  text-align: left;
  
}

.ejemplo-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99vh;
  overflow: hidden;
  
}


.container-uno video{
  min-width: 100%;
  min-height: 100%;
  
}

.overlay{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  /* background: #303952;*/
  background: #000;
  z-index: 1;
  opacity: .30;
}

.container-flex{
  z-index: 2;
  margin-top: 15% ;
  width: 100%;
  padding: 3% 5%;
  display: flex;
  align-items: center;
  gap:5%;
}

.contenido-escrito{
  z-index: 2;
  padding: 0 1%;
  width: 100%;
  display: block;
}


.contenido-escrito h1{ 
  
  font-size: 25px;
  margin: 10% auto ;
  padding:15px 10px ;
  background-color: rgba(0, 0, 0, 0.295);
  font-family: 'Montserrat', sans-serif;
  color: white;
}


.boton{
  padding: auto ;
  display: block;
  width: 80%;
}


.container-uno P{
  font-size: 1.5rem; 
  color: gray;
  

}

.btn1{
  background: #ee2b2b;
  color: #fff;
  font-size: 35px;  
  text-decoration: none;
  margin-top: 50% ;
  border-radius: 10px;
  
}



.boton .btn1{
  
  padding: 2px 2px ;
  margin: 20px 5px;
  display: block;
  text-align: center;
  margin-bottom: 15%;
}


.img-base{
  width: 80%;
  padding: 0 0 10% 15%;
  
}



/* GALERIA DE IMAGENES*/
.galeria{
  position:static;
  display: block;
  border: 1px solid red;
  padding: 20% 1px;
  margin: 0 2% 0 2%;
  background-color: #6d6b6b;
  align-items:center;
}

.granformato{
  width: 95.6%;
  height: 30%;
  position: absolute;
  border: 1px solid green;
}


.container-dos{
  display: flex;
  background-color: #929292;
  margin: 0 2% 0 2%;
  padding: 5% 1px;
  border: 1px solid blue;
  align-items:center;

}

.galeria-imagenes-flex{
  display: flex;
  background-color: #6d6b6b;
  
  margin: 0 2% 0 2%;
  padding: 15% 1px;
  border: 1px solid orangered;
  align-items:center;
}

.informacion-redes{
  display: flex;
  background-color: #363636;
  margin: 0 2% 0 2%;
  padding: 10% 1px;
  border: 1px solid blue;
  align-items:center;
}

footer{
  display: flex;
  background-color: #929292;
  margin: 0 2% 0 2%;
  padding: 5% 1px;
  border: 1px solid blue;
  align-items:center;
}
