:root{
  --font: arial,sans-serif;
}



body{
     font-size: 1rem;
     line-height: 1.5;
     overflow-x: hidden; 
     
     /*OVERFLOW X - PARA OCULTAR LA BARRA ESPACIADORA - ABAJO*/  
}

main{
   
  background-color: rgb(21, 14, 61);
  
}

/*
header{
  border: 1px solid black;
  width: 100%;
  margin:  auto;
  position: fixed;
  background: #303952;
  top: 0;
  z-index: 80; 
}
*/

/*navegacion*/
.contenedor{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.contenedor1{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 60px 0;
  
}



/* HEADER */

nav{
  width: 100%;
  height: 100px;
  background: rgb(39, 20, 134);
  
  position: fixed ;
  /* TOP Y Z INDEX PARA FIJAR LA NAV EN HEADER*/ 
  top: 0;
  z-index: 100;

  /* transition: ease-in-out 0.5s ; AQUI LA TRANSICION SE GUARDA HASTA UBICAR EÑ JS DESPLAZAMIENTO */ 
  transition: ease-in-out 0.5s ;
  
}

.nav{
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  align-items: center ;
  padding: 0 40px;
  
   
}



.nav .logo{
  height: 100px;
  
}   

.nav .logo img{
  height: 85px;
  margin: 10px;
  
 
}

.enlaces-header{
  font-weight: 300;
  transition: ease-in-out 0.5s ;
      
}

.nav .enlaces-header a{
  color: #ccc;
  font-size: 26px;
  text-decoration: none;
  margin-left: 20px;
  font-family: var(--font);
  border-radius: 9px;
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 5px 10px;
}

.nav .enlaces-header>a:hover{
 
  color:#ccc;
  transition: color .3s;
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}



/*----------------------------------------------------HAMB-----------------------------------------------------------*/

.hamburger {
  width: 80px;
  height: 80px;
  text-align: center;
  z-index: 100;
  /* UN CURSOR POINTER PARA ACTIVAR LA MANO*/
  cursor: pointer;
  display: none;
  /* transition: color 0.5s ease-in; */
  }
  
  .hamburger > i{
  font-size: 25px;
  line-height: 80px;
  color: white;
  }




/*----------------------------------------------------------------------------------------------------------------------*/
/* VIDEO BACK*/

.container-uno{
  display: flex;
  height: 80vh;
  align-items: center;
  

}

.content{
  max-width: 60rem;
  padding-left:1rem;
  padding-right:1rem;
  margin: 0 auto;
  text-align: left;
  
}

.ejemplo-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
}


.container-uno video{
  min-width: 100%;
  min-height: 100%;
  
}

.overlay{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  /* background: #303952;*/
  background: #000000f1;
  z-index: 1;
  opacity: .30;
}

.container-flex{
  z-index: 2;
  margin-top: 15% ;
  width: 100%;
  padding: 3% 5%;
  display: flex;
  align-items: center;
  gap:5%;
}

.contenido-escrito{
  z-index: 2;
  padding: 0 1%;
  width: 100%;
  display: block;
}


.contenido-escrito h1{ 
  
  font-size: 25px;
 margin: 10% auto ;
 padding:15px 5px ;
 position: relative;
 font-family: 'Montserrat', sans-serif;
 color: rgba(236, 236, 236, 0.384);
 animation:backwards  mimove 4s;
}


.contenido-escrito :hover {
  color: orange;
  background-color: rgb(221, 221, 221);

}


.contenido-escrito > .items  {  
background-color: rgba(255, 255, 255, 0.014);
animation:backwards  mimove 3s;
}

.contenido-escrito > .items + .dos {  
  background-color: rgba(255, 255, 255, 0.014);
  animation:backwards  mimove 3s;
  
  }

.contenido-escrito > .items + .tres {  
    background-color: rgba(255, 255, 255, 0.014);
    animation:backwards mimove 3s;
    
    }

.contenido-escrito > .items + .cuatro {  
      background-color: rgba(255, 255, 255, 0.014);
      animation:backwards  mimove 3s;
      }


@keyframes mimove{
 
  0%   {top: 0px; left: -250px; background:#ccc;color: #fafafa;}
  25%   {top: 0px; left: 50px; background:#ccc;color: #fafafa;}
  75% {top: 0px; left: 0px; background:rgba(255, 255, 255, 0.014);color: #ffffff;}
}



.boton{
  padding: auto ;
  display: block;
  width: 80%;
}


.container-uno P{
  font-size: 1.5rem; 
  color: gray;
  

}

.btn1{
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: var(--font);
  color: #fff;
  font-size: 35px;  
  text-decoration: none;
  margin-top: 50% ;
  border-radius: 10px;
  
}

.boton >a:hover{
background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.boton .btn1{
  
  padding: 2px 2px ;
  margin: 20px 5px;
  display: block;
  text-align: center;
  margin-bottom: 15%;
}


.img-base{
  width: 70%;
  padding: 0 0 10% 15%;
  animation: ease-in animat 2s; 
 }
 
 @keyframes animat{
   0%{
       transform: scale(0);
   }100%{
       transform: scale(1);
   }
 }


.cuadro{
  display: flex;
  justify-content: center;
  position: static;
  margin: 1% 241px;
  padding: 10px auto;
  
}

/* GALERIA DE IMAGENES*/

/*SWIPER J*/

body .container-swim{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  
}


.swiper {
    width: 60%;
    height: 100%;
    margin: 170px auto 10px auto;
    
  }

  

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    
    background: #ffffff00;
    display: flex;
    justify-content: center;
    align-items: center;

    
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1em;

    object-fit: cover;
  }

  /*
  .swiper-slide a{
      
  }
*/


/*CIERRE SWIPER*/




.granformato{
  width: 99%;
  height: 30%;
  position: absolute;
  
}



.container-dos{
  display: flex;
  margin: 0 2% 0 2%;
  padding: 3% 2%;
  
  align-items:center;

}


/* container ejemplo*/

.container2{
  /*background: #fff;*/
  /*   background-color: #ccc; */  
  padding: 0 auto;
  background: rgb(21, 14, 61) ;
  width: 80%;
  margin: 0 auto;
  display: flex;
  
}

.contenido-opciones{
  
  display: flex;
  flex-wrap: wrap;  
  width: 80%;
  margin: 0 auto;
  
  
}

.mapa{
      margin-bottom: 20px ;
      /*width: calc(50% - (10px*2));*/
      width: 300px;
      /* box-shadow: -10px 10px 20px 15px #000;*/
      animation: ease-in animat 2s;         

}



.mapa:hover{
  opacity: 30%;
  transition: 400ms;
}



.tituloZurdo{
    
  text-align: center;
  margin: 0px 0;
  letter-spacing: 60px;
  
}

.tituloZurdo::first-line{
  font-weight: bolder;
}




ul .items {
  font-size: 120%;
    padding: 58px 0 5px 59px;
    /* font-weight: bold; */
    background-color: #ececec09;
    border: none;
    border-radius: 19px;
    transition: 1s all;
    cursor: pointer;
    margin: 1px 0px;

}

.items p{
  text-decoration: none;
  color:white;
  margin: 30px 20px;
  overflow: auto;
  
}

.items:nth-child(2n){
  font-weight: bold;
}


.laterales {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  padding: 20px 140px;
  margin-right: 1%;
      
}


.laterales-parrafo {
  display: inline-block;
  vertical-align: top;
  margin-right: 1%;
  width: 50%;
  padding: 20px 25px;
}



.items-par{
  font-size: 120%;
  font-family: var(--font);
  padding: 15px 0 5px 10px;
  /* font-weight: bold;*/
  background-color: #ececec09 ;
  border: none;
  font-family: var(--font);
  border-radius: 19px;
  transition: 1s all;
  cursor: pointer;
  margin: 15px 40px;

}

.items-par p{
  text-decoration: none;
  font-family: var(--font);
  color:white;
  margin: 30px 20px;
  overflow: auto;
  font-size: 25px;
  overflow: auto;
}


/* cierre container ejemplo*/

.container3{
  /*background: #fff;*/
  /*   background-color: #ccc; */  
  padding: 0 auto;
  background: rgba(255, 255, 255, 0.062) ;
  display: flex;
  border-radius: 30px;
  
  margin: 0 20%;
  
}

.contenido-opciones1{
  
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;  
  
}


.twitter-timeline{
  padding: 2px 1px ;
  /*width: calc(50% - (10px*2));*/
  width: 340px;
  height: 350px;
  overflow: auto;
}



.informacion-redes{
  border: 1px solid rgba(121, 101, 65, 0);
    padding: 30px 0 ;
}



.lateral-twitter{    
    padding: 10px auto;
    align-items: center;
    background-color: #ececec09;
    border-radius: 10px;
    align-items: center;
    width: 40%; 
    height: 70%;
    justify-content: center;  
    padding: 10px auto;
    align-items: center;
    background-color: #ececec09; 
    border-radius: 10px;
    margin: 0 10px;
    gap: 10px;
    
    
}

.lateral-twitter .social-media > a{
  margin:5px 5px ;
  padding: 15px 2px;
  color: white;  
 
}




.lateral-twitter .items{
  font-family: var(--font);
  font-size: 25px;
}




/* FOOTER*/
footer{
  background: rgba(32, 0, 119, 0.452) ;
  padding: 30px 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;


} 

.partFooter{
  width: 20%;
  text-align: center;
}

.partFooter h4{
  color: #000;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
  
  
}

.partFooter a{
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 300;
  transition: color .05s ease-in-out;
  margin-bottom: 10px; 

}

.partFooter a:hover{
  color:#c23c55 ;

}



.partFooter img{
  
  width: 55%;

}

.social-media a{
  display: inline-block;
  text-align: center;

}




.social-media i{
  font-size: 25px;
  
  color: black;
  border: 1px solid #030304 ;
  border-radius: 50px;
  width: 38px;
  height: 38px;
  /*--------CENTRAR BORDE - REDOMDO DE LOS ICONOS DE LAS REDES-------*/
  line-height: 36px;
  cursor: pointer;
  margin-top: 20px;
 
  transition: all ease-in-out .2s;
  margin-right: 5px;    
}

.social-media i:hover {
  color: #fff;
  background-color: #c23c55;
  border-color: #ed1f11;;

}

/*----------------------------------------------------------------------*/
/*MEDIA*/

@media screen and  (max-width:2200px){
  .swiper{
    margin: 200px auto 0 0;
    width: 90%;
    
  }
 
  
 

}

@media screen and  (max-width:1200px){
  
 
  .container-uno, .container2, .ejemplo-video, .overlay {
    width: 100%;
    margin: 2px auto;
}

.nav .enlaces-header a{
  font-size: 18px;
  align-items: center;
  justify-content: center;

}


.enlaces-header{
  margin: 0 10%;
}

.contenedor{
  width: 100%;
}

nav{ 
  width: 100%;
  
}

.container3{
  /*background: #fff;*/
  /*   background-color: #ccc; */  
  padding: 0 auto;
  margin: 30px 30px;
}

.content{
  max-width: 70%;  
}

.ejemplo-video{
  position: absolute;
  top: 0;
  right:0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
}


video{
  width: 165vh;
  height: 110vh;
  transform: scale(1.4,1.4)translate(14px, 74px);
  
}
.container-uno{

  padding: 10% auto 0 auto;
  margin: 10% auto 0 auto;
}

.boton{
  width: 100%;
}

.boton .btn1{
  margin: 20px 58px;
}




.container-flex{
  
  display: flex;
  flex-direction: column; 
}

.contenido-escrito{
  top: 10%;
  width: 100%;
  padding: 0px auto;
  margin: 2% auto;
  text-align: center;
  font-size: 18px;
}

.contenido-escrito h1{
  font-size: 25px;
  margin: 2% auto ;
  padding:2% 5px ;
  
}

.img-promocional img{
  
  width: 0;
  margin: -21px auto;
  
}


.btn1{
  width: 80%;
  margin: 2px auto;
  margin-bottom: 20%;
}

.img-promocional{  
  margin: 2px auto;
  align-items: center;
  justify-content: center;
  
}

/*comienza swiper*/

.cuadro{
  margin: 8% 241px 0;
  width: 70%;
}


.swiper{
  margin: 200px auto 0 0;
}



.swiper-wrapper{

  margin: 0px auto;
}

.cuadro{
  display: flex;
  justify-content: center;
  position: static;
  margin: 2% auto ;
  padding: 10px auto;
  
}

.container2{
  width: 80%;
  padding: 0 auto;
  margin: 0 auto;
  
}


.container3{
  /*background: #fff;*/
  /*   background-color: #ccc; */  
  display: flex;
  border-radius: 30px;
  margin: 30px 70px;
  width: 80%;
  height: 30%;
  overflow: auto;
}






ul .items {
  font-size: 120%;
  width: 100%;
  padding: 10px auto;
  align-items: center;
  /* font-weight: bold;*/
  background-color: #ececec09 ;
  
  
}


.mapa{
  width: 470px;
  
  margin: 0 auto
}

.laterales-parrafo {
  padding: 0 auto;
  width: 100%;
  padding: 81px 3px;
  margin-right: 1%;
  
}

.items-par{
  font-size: 60px;
  margin: 10px auto;
}



.twitter-container{
  margin: 10px auto;
  
}

.lateral-twitter{
  
  width: 53%;
  height: 25%;
    
    padding: 10px auto;
    align-items: center;
    background-color: #ececec09;
    border-radius: 10px;
    margin: 0 auto;

}




.twitter-timeline{
  margin-top: 10px
}

/*FOOTER BREAK*/

footer{
  justify-content:space-evenly;


}

.partFooter{
  width: 40%;
  margin-bottom: 30px;
}

.partFooter > img{
  width: 30%;
  
}


}


@media screen and (max-width:950){
  
  
  .cuadro{
    width: 70%;
  }

  .informacion-redes{
    border: 2px solid green;
  }

  .container3{
    margin: 30px 70px;
  }

  .lateral-twitter{
    width: 385px;
    padding: 631px 180px;
  }

  .twitter-timeline{
    margin-top: -728px
  }

  

}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and  (max-width:700px){
 
  .titulo{
    font-size: 35px;
}

h1{
font-size: 40px;
}

header{ 
  width: 100%;
  
}

.enlaces-header{
  /*display: none;*/
      position: fixed;
      
      background: #8E2DE2;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      /*border: 1px solid black;*/
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      justify-content: space-evenly;
      padding-top: 50px;
      /*COVER EN CIRCULO DEL MENU*/
      clip-path: circle(0% at 87% 6%);
      
  }
  /*OTRA CLASE PARA DEFINIR APERTURA DEL MENU */
  .nav .menudos{
  -webkit-clip-path: circle(133.8% at 100% 0);        
  clip-path: circle(150% at 100% 0);
  
  }
  
  .nav .menudos a{
  width: 50%;
  align-items: center;
  
  margin-bottom: 10%;
  padding: 0 44px;
  background: rgb(240,240,240);
  background: linear-gradient(0deg, rgba(240,240,240,1) 0%, rgba(229,229,229,1) 91%);
  
  }
  
  .nav .menudos >a:hover{
  background: rgb(0 0 0 / 83%);
  transition: 0.5s;
  
  
  }
  
  
  .nav .enlaces-header a{
      color: rgb(6, 3, 9);
      font-size: 30px;
             
  }
  
  
  .nav .enlaces-header>a:hover{
  color:#ccc ;
  transition: color 0.5s;   
  }
  
  .hamburger{
  display: block;
  }


.contenedor{
  width: 100%;
}



.contenido-header{
height: 650px;
}

.nav{
padding: 0 10px ;
}

.contenido-header>img{
width: 300px;

}


.boton .btn1{
  margin: 20px auto;
}


.cuadro{
  width: 70%;
}

.swiper{
  width: 70%;
  
}




.twitter-timeline{
    width: 180px;

}
.mapa{
  width: 215px;
  margin: 0 auto
}



video{
  transform: scale(1.6,1.6)translate(-39px, -33px);

}

.informacion-redes{
  padding: 20px 0 ;
  width: 90%;
  
  align-items:center ;
}

.container3{
  margin: 30px 60px;
  padding: 2px 5px;
}

.cuadro{
  width: 90%;
}

.lateral-twitter{
  width: 100%;
  padding: 10px 10px;
}

ul .items{
  margin: 15px 2px;
}


.items p{
  margin: 4px auto;
  margin: 10px 10px;
}


.contenido-opciones1{
  width: 100%;
}

.twitter-timeline{
  margin: 10px auto;
  width: 301px
}

.partFooter{
  width: 95%;
  margin-bottom: 40px;
}

}

@media screen and  (max-width:400px){
  .nav .menudos a{
    width: 100px ;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }

  .container3{
    margin: 30px 20px;
    padding: 2px 24px;
  }

  .twitter-timeline{
    margin: 0 auto;
    width: 100%;
  }

  .twitter-container{
    width: 100%;
    margin: 0px auto;
  }

}